.item {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .item:last-child {
    margin-right: 0; 
  }
  
  .item img {
    display: block; 
    margin: 0 auto;
  }
  
  .item a {
    text-decoration: none; 
    color: #333; 
    display: block; 
  }
  