/* dashboard.css */

/* Header Styling */

h3{
    color: #802BB1;
}
/* Keyframes for text color change */
@keyframes colorChange {
    0% { color: #faf9fc; }
    50% { color: #b9b0d8; }
    100% { color: #faf9fc; }
  }
  
  /* Apply animation to h2 element */
  .h2dash {
    text-align: center; /* Align text in center */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    animation: colorChange 5s infinite; /* Apply text color animation */
  }
  
  /* Apply animation to p element */
  .pdash {
    text-align: center; /* Align text in center */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    font-size: large;
    animation: colorChange 5s infinite alternate; /* Apply text color animation */
  }
  /* Hover effect for h2 element */
.h2dash:hover {
    color: #e3d2ec; /* Change text color on hover */
    cursor: pointer;
    background: linear-gradient(45deg, #802BB1, #4E1678, #2D283E, #1F3864, #4555A3);

    /* Change cursor to pointer on hover */
  }
  
  /* Hover effect for p element */
  .pdash:hover {
    color: #2D283E; /* Change text color on hover */
    cursor: pointer;
    background: linear-gradient(45deg, #802BB1, #4E1678, #2D283E, #1F3864, #4555A3);

     /* Change cursor to pointer on hover */
  }
  .pdash{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2d283e; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    text-decoration: underline;
    color: #ccc;
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .h2dash{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2d283e; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    text-decoration: underline;
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2d283e; }
  }
  
/* Main Container Styling */
.fully {
    display: flex;
    font-weight: 200;
    width: 100%;
    color:#802BB1;
    background-color: #2D283E;
}

.container-dash {
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 200%;
    margin-left: 68px;
    margin-top: 60px;
    font-size: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/* Form Styling */
.card-header {
    background-color:  #683cb3;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
    font-size: 28px;
}

.form-label {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #2D283E;
}

.btn-primary {
    background-color: #853cb3;
    color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.btn-primary:hover {
    background-color: #683cb3;
}

/* Card Styling */
.card {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.card-header {
    color: #fff;
    font-size: 24px;
}

.list-group-item {
    background-color: #f5d1ef;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.list-group-item span {
    font-size: 18px;
    margin-left: 10px;
}

/* Additional Styling */
/* Borders */
.btn btn-primary{
    color: #fff;
}
.form-control,
.form-select,
.btn-primary {
    border: 2px solid #fff; /* White border */
}

.btn-primary:hover,
.form-select:hover,
.form-control:hover {
    border-color: #802BB1; /* Change border color on hover to #802BB1 */
}

/* Hovering Effects */
.list-group-item:hover {
    background-color: #2D283E; /* Change background color on hover to #2D283E */
    color: #fff; /* Change text color on hover to white */
}

.list-group-item:hover span {
    color: #fff; /* Change span text color on hover to white */
}
/* Dropdown Styling */
.form-select {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid #ccc; /* Green border color */
    border-radius: 5px;
    background-color: #f8fff5; /* Light green background color */
    color: #333; /* Text color */
}
.form-control,
.form-select {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    color: #ab9cdb;
}

/* Style the options */
.form-select option {
    background-color: #2D283E; /* Green background color for options */
    color: #fff; /* Text color for options */
    font-size: 20px; /* Font size for options */
}

/* Hover effect for options */
.form-select option:hover {
    background-color:#802BB1; /* Darker green on hover */
    color: #fff; /* Text color on hover */
}
.buttondash{
    color: #fff;
    background-color:#802BB1; 
    padding: 1px 2px 2px 1px;
    border-radius: 5px;

}

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress3 {
   to { --progress-value: 10; }
  }
  
  .progress-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(208, 155, 21) calc(var(--progress-value) * 1%), pink 0);
    animation: progress3 2s 1 forwards;
  }
  
  .progress-bar3::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress3 2s 1 forwards;
    color:#2D283E;
  }
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress {
   to { --progress-value: 75; }
  }
  
  .progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(111, 215, 14) calc(var(--progress-value) * 1%), pink 0);
    animation: progress 2s 1 forwards;
  }
  
  .progress-bar2::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress 2s 1 forwards;
    color:#2D283E;
  }
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress1 {
   to { --progress-value: 100; }
  }
  .progress-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(21, 208, 27) calc(var(--progress-value) * 1%), pink 0);
    animation: progress1 2s 1 forwards;
  }
  
  .progress-bar1::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress1 2s 1 forwards;
    color:#2D283E;
  }
  