.full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.segmented-control {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.segmented-control__segment {
    cursor: pointer;
    font-size: 2em;
    transition: transform 0.3s ease;
}

.segmented-control__segment:hover {
    transform: scale(1.2);
}
.segmented-control__segment.segmented-control__segment_selected {
    color: #007BFF;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: 2%;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
    width: 50%;
    text-align: center;

}