html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #2D283E;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
  }
body{
    background-color: #2d283e;
    /* width: 100%; */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
a{
    text-decoration: none;

}
header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #564f6f;
    /* padding:10px; */
    /* margin: 10px; */
    transition: all 0.5s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: #2d283e;
    /* font-size: 100px; */
    margin-right:3px;
}
.logo span{
    color: #2d283e;
    font-size: 2.5rem;
    font-weight: 700;
}
.logo span:hover{
    color: #802bb1;
    transition: all 0.5s ease;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #2d283e;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all 0.5s ease;
}
.navbar a:hover{
    color: rgb(187, 93, 200);
    /* text-decoration: underline; */
    /* border: 2px solid #802bb1; */
    border-width: 5px;
    background-color: #2d283e;
    border-radius: 10px;
    padding: 10px;
}
.navbar a.active{
    color: #802bb1;
    border: 2px solid #802bb1;
} 
.navbar li{
    list-style: none;
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #2d283e;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: #2d283e;
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    /* color: rgb(187, 93, 200); */
    color: rgb(187, 93, 200);
    /* text-decoration: underline; */
    /* border: 2px solid #802bb1; */
    border-width: 5px;
    background-color: #2d283e;
    border-radius: 10px;
    padding: 10px;
}
.typewriter p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2d283e; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    text-decoration: underline;
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2d283e; }
  }
.hero{
    /* background-image: url("https://images.unsplash.com/photo-1487700160041-babef9c3cb55?q=80&w=2052&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-color: #2d283e;
    background-size:100% 100%;
    background-repeat: no-repeat;
    
    /* margin-top: -20px; */
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: end; */
    /* align-items: center;  */
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .herotxt {
    /* text-align: right; */
    margin-left: 10%;
    margin-top: 3%;
    /* animation: bounce 3s infinite; */
    /* border-left: 10px solid #802bb1; */
    /*  */
  }

  .herotxt h1 {
    font-size: 175px;
    color: #802bb1;
    /* margin-left: -17%; */
  }
  
  .herotxt p {
    margin-top: -70px;
    margin-left: 15px;
    font-size: 50px;
    color: #802bb1;
    font-weight: 500;
    border-left: 8px solid #802bb1;
    }
    .typing-animation {
        font-family: monospace;
        font-size: 2em;
        color: #802bb1;
    }

.about{
    background-color: #564f6f;
    margin-top:-35px;
    /* display: flex; */
    text-align: center;
    padding-bottom: 30px;
}
.about h1{
    /* margin-left: 45%; */
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
    color: #d1d7e0;
    font-weight: 300;
}
.about-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;    
    margin: auto;
}
.about-img{
    /* flex-wrap: nowrap; */
    /* border: 2px solid black; */
    margin-right: 5%;
    width: 45%;
}
.about-content{
    /* border: 2px solid black; */
    width: 45%;
    position: relative;
}

.about-content h1{
    font-size: 2.5rem;
    color: #d1d7e0;
    font-weight: 400;
    text-align: left;
}
.about-content p{
    font-size: 2rem;
    color: #d1d7e0;
    font-weight: 300;
    text-align: left;
    text-align: justify;    
}
.about-img img{
    width: 75%;
    height: 500px;
    border-radius: 10%;

}
.highlight {
    /* Apply a different color */
    color: #Fff; /* Example color */

    /* Apply animation */
    animation: highlightText 1.5s infinite alternate; /* Example animation */
}

/* Define animation */
@keyframes highlightText {
    0% {
       color:#Fff; /* Start color */
    }
    100% {
        color:#2D283E; /* End color */
    }
}

.services{
    background-color: #2D283E;
    margin-top:-35px;
    /* display: flex; */
    text-align: center;
    padding-bottom: 30px;
}
.services h1{
    /* margin-left: 45%; */
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
    color: #802bb1;
    font-weight: 300;
}
.services-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;    
    margin: auto;
    justify-content: center;
}
.services-img{
    /* flex-wrap: nowrap; */
    /* border: 2px solid black; */
    margin-left: 5%;
    width: 45%;
}
.services-content{
    /* border: 2px solid black; */
    width: 45%;
    margin-left: 5%;
}
.services-content h1{
    font-size: 30px;
    color: #802bb1;
    font-weight: 400;
    text-align: left;
}
.services-content p{
    font-size: 2.2rem;
    color: #802bb1;
    font-weight: 300;
    text-align: left;
    text-align: justify;
}
.services-img img{
    width: 75%;
    height: 500px;
    border-radius: 10%;

}
.contact{
    background-color: white;
    /* margin-top:-20px; */
    /* margin-top: 5%; */
    border-radius: 15px;
}
.service{
    background-color: whitesmoke;
    /* margin-top:-21px; */
    /* margin-top: 5%; */
}
.contact{
    margin-bottom: -20px;
    /* padding: 5%; */
    padding:2% 5% 2% 5%;
    background-color: #4c495d;
    /* border-radius: 20px; */
}
.contact h1{
    text-align: center;
    color: #d1d7e0;
    margin-top: -20px;
}
.contact-box{
    background-color: #d1d7e0;
    display: flex;
    width: 100%;
    border-radius: 15px;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    color: #802bb1;
    background-color: #d1d7e0;
    border-radius: 15px;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: #802bb1;
    color: white;
    border-radius: 15px;
}
.contact-right h3{
    color: #2D283E;
}
.input-row{
    display: flex;
    justify-self: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 50%;
    margin-right: 60px;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #802bb1;
    outline: none;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #802bb1;
}
label{
    font-weight: 200;
    color: #802bb1;
}
textarea{
    width: 100%;
    border: none;
    border: 1px solid #802bb1;
    outline: none;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 10px;
    color: #802bb1;
    box-sizing: border-box;
}
button{
    background-color: #802bb1;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
    /* box-shadow: 0 0 10px 0 rgb(139, 216, 106);  */
}
button:hover{
    background-color: #af85c0;
    box-shadow: 0 0 10px 0 #c873fa; 
    transition: all 0.5s ease;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
    font-weight: 200;
    font-size: 20px;
}
.feed-btn{
    background-color: white;
    color: #802bb1;
    /* box-shadow: 0 0 10px 0 white; */
    margin-top: -2px;
    font-weight: 600;
}
.about-img img {
    animation: scaleAndColor 2s ease-in-out infinite alternate; /* Apply animation */
  }
  
  @keyframes scaleAndColor {
    0% {
      transform: scale(1); /* Start scale */
      filter: hue-rotate(0deg); /* Start color */
    }
    100% {
      transform: scale(1.1); /* End scale */
      filter: hue-rotate(360deg); /* End color */
    }
  }
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%); /* Start position */
      opacity: 0; /* Start opacity */
    }
    to {
      transform: translateX(0); /* End position */
      opacity: 1; /* End opacity */
    }
  }
  
  .about-img img {
    animation: slideInFromLeft 2s ease; /* Apply animation */
  }
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Start position */
      opacity: 0; /* Start opacity */
    }
    to {
      transform: translateX(0); /* End position */
      opacity: 1; /* End opacity */
    }
  }
  
  .services-img img {
    animation: slideInFromRight 2s ease; /* Apply animation */
  }
  h4{
    color: #d1d7e0;
  }