body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    /* background:#3cb371; */
    height: 100vh;
    -webkit-font-smoothing:antialised;
    -moz-osx-font-smoothin:grayscale;
    margin: 0;
    color: black;
}

.container{
    display:flex;
    flex-direction:column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    align-items: center;
    width: 600px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100px;
    margin-top: 30px;
}
.text{
    color:#3cb371;
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}
.underline{
    width: 61px;
    height:6px;
    background: #3cb371;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display:flex;
    gap:25px;
    flex-direction: column;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
img {
margin: 0px 30px;
   width: 50px;
   height: 50px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    font-size: 18px;
    color:#797979;
}
span{
    cursor: pointer;
    color: #3cb371;
}
.submit-container{
    display: flex;
    gap:30px;
    margin: 60px auto;
    color:#fff;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background: #3cb371;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}