/* body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background:#fff;
    height: 100vh;
    -webkit-font-smoothing:antialised;
    -moz-osx-font-smoothin:grayscale;
    margin: 0;
    color: black;
} */
.full{
    align-items: center;
    justify-self: center;
    margin-left: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background:#fff;
    height: 100vh;
    -webkit-font-smoothing:antialised;
    -moz-osx-font-smoothin:grayscale;
    margin: 0;
    color: black;
}
.container{
    display:flex;
    flex-direction:column;
    background:#caf7dc;
    padding-bottom: 30px;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-top: 0px;
    border:green;
    align-self:center;
    box-sizing: border-box;
    border-radius: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:50px;
    margin-top: 30px;
}
.text{
    color:#3cb371;
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}
.h1login{
    color: #3cb371;
}
.underline{
    width: 61px;
    height:6px;
    background: #3cb371;
    border-radius: 9px;
}
.inputs{
    margin-top: 30px;
    display:flex;
    gap:15px;
    flex-direction: column;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}
img {
margin: 0px 30px;
   width: 50px;
   height: 50px;
}
.input input{
    height: 55px;
    width: 290px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    margin-top: 2px;
}
.forgot-password{
    padding-left: 2px;
    margin-top: 27px;
    font-size: 18px;
    color:#797979;
}
span{
    cursor: pointer;
    color: #3cb371;
}
.submit-container{
   display: flex;
    gap:20px;
    margin: 20px;
    color:#fff;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 39px;
    background: #3cb371;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}
.gray{
    background: #eaeaea;
    color: #676767;
    
}
.h1log{
    color:#3cb371;
    margin-top: 10;
    margin-left: 110px;
    padding: 0%;
}
h2{
    animation: slideIn 2s ease infinite alternate;
    color:#3cb371;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}